<ion-header>
  <ion-toolbar>
    <ion-title mode="ios">
      To Do App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button (click)="onRegister()" expand="block" color="primary" shape="round">Register</ion-button>

        <span class="divider line one-line">or</span>

        <span class="already">Already a user?</span>

        <ion-button (click)="onLogIn()" expand="block" color="danger" shape="round">Sign In</ion-button>
        <ion-img src="https://icon-library.com/images/to-do-icon/to-do-icon-17.jpg" class="logo"></ion-img>
      </ion-col>
 
    </ion-row>
    <ion-img src="https://icon-library.com/images/to-do-icon/to-do-icon-17.jpg" class="logo"></ion-img>

  </ion-grid>
  <ion-card>
    <ion-card-content>
      <img src="assets/to-do-icon-17.jpg">
      
    </ion-card-content>
  </ion-card>
</ion-content>
